<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
   

    <div class="d-flex align-items-center">
      <button class="btn btn-link btn-sm me-2" id="sidebarToggle">
          <i class="fas fa-bars"></i>
      </button>
      <a class="navbar-brand ps-2">
          <%= judul %>
      </a>
  </div>

        <ul class="navbar-nav ms-auto me-4">
          <li><a class=" btn btn-group text-white bg-dark " href="/login">Logout <i class="bi bi-box-arrow-right ms-2"></i> </a></li>
        </ul>

        
   
    <!-- Sidebar Toggle-->
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </button>
                        <ul class="dropdown-menu bg-transparent border">
                          <li><a class="dropdown-item  text-white bg-dark" href="/data-siswa">Data siswa</a></li>
                        </ul>
                      </div>
                    </div>
            </div>
            <div class="sb-sidenav-footer">
                
            </div>
        </nav>
    </div>